<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Calculate product prices</h4>
                        <p class="category">Please select a product and enter the count</p>
                        <hr>
                    </div>
                    <div class="content">
                        <div class="col-md-6">
                            <app-combo-box [list]="cartonList" (comboItem)="setSelectedCarton($event)"></app-combo-box>
                            <br>
                        </div>
                        <div class="col-md-3">
                            <label>Price</label>
                            <input [value]="selectedItem.price != undefined ? selectedItem.price : 0.0"
                                       [disabled]="true" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <label>No of Units</label>
                            <input [value]="selectedItem.units != undefined ? selectedItem.units : 0"
                                       [disabled]="true" class="form-control">
                        </div>
                    </div>
                    <br><br> <br><br>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <label>No of cartons </label>
                                <input type="number" (focus)="$event.target.select();" [(ngModel)]="noOfInputCartons"
                                       class="form-control">
                            </div>
                            <div class="col-md-6 text-center">
                                <label>No of units </label>
                                <input type="number" (focus)="$event.target.select();" [(ngModel)]="noOfInputUnits"
                                       class="form-control">
                            </div>
                        </div>

                    </div>

                    <br><br> <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-primary full-width" (click)="logSelected()">Calculate</button>
                            </div>
                        </div>
                    </div>

                    <br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="text-center" [textContent]="calculateResult"></h2>
                            </div>
                        </div>
                    </div>

                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
