<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Edit Profile</h4>
                    </div>
                    <div class="content">
                        <app-combo-box [list]="cartonList" (comboItem)="setSelectedCarton($event)"></app-combo-box>
                    </div>
                </div>
            </div>
            <button class="btn btn-simple" (click)="logSelected()">Click</button>
        </div>
    </div>
</div>
